# Materialize as .env.<deployment-profile>.<environment>.
VITE_SDKWORK_ENVIRONMENT=development
VITE_SDKWORK_DEPLOYMENT_PROFILE=standalone
VITE_SDKWORK_PROFILE_ID=standalone.development
VITE_SDKWORK_RUNTIME_TARGET=browser
VITE_SDKWORK_<APPLICATION_CODE>_ENVIRONMENT=development
VITE_SDKWORK_<APPLICATION_CODE>_DEPLOYMENT_PROFILE=standalone
VITE_SDKWORK_<APPLICATION_CODE>_PROFILE_ID=standalone.development
VITE_SDKWORK_<APPLICATION_CODE>_RUNTIME_TARGET=browser
VITE_SDKWORK_<APPLICATION_CODE>_APPLICATION_PUBLIC_HTTP_URL=http://127.0.0.1:10240
